.container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  z-index: 1;
}

@media (max-width: 768px) {
  .container,
  .container canvas,
  .container div {
    pointer-events: none !important;
    touch-action: auto !important;
  }
}
